.nav {
    position: fixed;
    z-index: index 100;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    background: var(--dark-bg);
}

ul {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.li {
    display: inline-block;
    border-radius: 8px;
    transition: .3s ease background-color;
}

.li:hover {
    background-color: var(--deep-dark);
}

.li a {
    display: inline-block;
    font-family: 'RobotoMono Regular';
    padding: 1rem 2rem;
    font-size: 2rem;
    color: var(--gray-1);
    outline: none;
}

.li .active {
    color: var(--white);
}

.mobile-menu-icon {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 4rem;
    cursor: pointer;
    display: none;
    outline: none;
}

.closeNavIcon {
    display: none;
}

@media only screen and (max-width: 768px) {
    .nav{
        padding: 0;
    }
    .hide-item {
      display:none;
    }
    .mobile-menu-icon {
      display: block;
    }
    .navItems {
        transition: 0.3s ease transform;
        background-color: var(--deep-dark);
        padding: 2rem;
        width: 90%;
        max-width: 300px;
        border-radius: 12px;
        position: absolute;
        right: 1rem;
        top: 1rem
    }
    .navItems .closeNavIcon {
        display: block;
        width: 3rem;
        margin: 0 0 0 auto;
        cursor: pointer;
    }
    .navItems .closeNavIcon * {
       pointer-events: none; 
    }
    .navItems .li {
        display: block;
        margin-bottom: 1rem;
    }
}