.bannerBody {
    padding: 5rem 0;
}
.bannerBody  .contactBanner {
    background-color: var(--deep-dark);
    border-radius: 12px;
    padding: 5rem 0rem;
    text-align: center;
  }
  .bannerBody .contactHeading {
    font-size: 4rem;
    margin-bottom: 2rem;
}

  @media only screen and (max-width: 768px) {
    .bannerBody .contactHeading {
      font-size: 2.8rem;
    }
  }