.AboutInfo {
    padding: 20rem 0 10rem 0;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.left {
  flex: 3;
}
.right {
  flex: 2;
}
.about__subheading {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
.about__subheading span {
    background-color: var(--deep-dark);
    padding: 0.5rem;
    border-radius: 8px;
  }
.about__heading {
  font-size: 3.6rem;
  margin-bottom: 3rem;
}
.about__info {
  margin-bottom: 4rem;
}

.about__info .text {
    max-width: 100%;
  }

.right img {
    border: 2px solid var(--gray-1);
}
.about__info__items {
  margin-top: 15rem;
}
.about__info__item {
  margin-bottom: 10rem;
}
.about__info__heading {
  font-size: 3.6rem;
  text-transform: uppercase;
}
.buttonLink{
  display: inline-block;
  font-family: 'RobotoMono Regular';
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: var(--gray-1);
  color: blue;
  border-radius: 8px;
  transition: 0.3s ease background-color
}

.buttonLink:hover {
  background-color: var(--deep-dark);
}

@media only screen and (max-width: 768px) {
    .AboutInfo {
    padding: 10rem 0;
    }
    
  .top-section {
    flex-direction: column;
    gap: 5rem;
  }
  .about__subheading {
    font-size: 1.8rem;
  }
  .about__heading {
    font-size: 2.8rem;
  }
  .about__info__heading {
    font-size: 3rem;
  }
}