.AIIBody {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  /* gap: 5rem; */
  margin-top: 3rem;
}
.title {
    font-size: 2.4rem;
  }
.items {
    display: flex;
    gap: 1.5rem;
    position: absolute;
    left: 18rem;
  }
   .items .item {
    background-color: var(--deep-dark);
    padding: 1rem;
    border-radius: 8px;
  }
  @media only screen and (max-width: 768px) {
    .AIIBody{
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    }
    .AIIBody .items {
      position: initial;
      gap: 1rem;
    }
    .AIIBody .title {
      font-size: 2rem;
    }
  }